@import "compass/reset"
@import "compass/css3"
@import "mixins"

/*
 *                                                          _            
 *   _                                                     | |           
 *  | |_   _   _  ____    ___    ____   ____   ____  ____  | | _   _   _ 
 *  |  _) | | | ||  _ \  / _ \  / _  | / ___) / _  ||  _ \ | || \ | | | |
 *  | |__ | |_| || | | || |_| |( ( | || |    ( ( | || | | || | | || |_| |
 *   \___) \__  || ||_/  \___/  \_|| ||_|     \_||_|| ||_/ |_| |_| \__  |
 *        (____/ |_|           (_____|              |_|           (____/ 
 *
 */

$font: "adelle", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif

$font-mini   : 15px
$font-small  : 17px
$font-normal : 20px
$font-large  : 30px
$font-big    : 45px
$font-huge   : 50px

$font-light   : 300
$font-regular : 400
$font-bold    : 600

$font-very-light-gray : #eee
$font-light-gray      : #999
$font-lighten         : #57534A
$font-darken          : #423F37
$font-white           : #fff
$font-orange          : #ff9f13

strong
  font-weight: $font-bold

/*
 *   _  _         _           
 *  | |(_)       | |          
 *  | | _  ____  | |  _   ___ 
 *  | || ||  _ \ | | / ) /___)
 *  | || || | | || |< ( |___ |
 *  |_||_||_| |_||_| \_)(___/ 
 *
 */                            

$link-title-color       : #423F37
$link-title-hover-color : #2187e7

$link-background       : #fff
$link-color            : #2187e7
$link-hover-color      : #fff
$link-hover-background : #2187e7

a
  text-decoration: none

/*
 *                                                           _     
 *                                                          | |    
 *   ____    ____   ____   ____   ____   ____   ____  ____  | | _  
 *  |  _ \  / _  | / ___) / _  | / _  | / ___) / _  ||  _ \ | || \ 
 *  | | | |( ( | || |    ( ( | |( ( | || |    ( ( | || | | || | | |
 *  | ||_/  \_||_||_|     \_||_| \_|| ||_|     \_||_|| ||_/ |_| |_|
 *  |_|                         (_____|              |_|           
 *
 *
 */

p
  padding-top : 20px
  line-height : 25px

/*
 *   _                                   
 *  (_)                                  
 *   _  ____    ____   ____   ____   ___ 
 *  | ||    \  / _  | / _  | / _  ) /___)
 *  | || | | |( ( | |( ( | |( (/ / |___ |
 *  |_||_|_|_| \_||_| \_|| | \____)(___/ 
 *                   (_____|             
 *
 */


$image-border-color : #ccc

/*
 *                                             _ 
 *                                            | |
 *    ____   ____  ____    ____   ____   ____ | |
 *   / _  | / _  )|  _ \  / _  ) / ___) / _  || |
 *  ( ( | |( (/ / | | | |( (/ / | |    ( ( | || |
 *   \_|| | \____)|_| |_| \____)|_|     \_||_||_|
 *  (_____|                                      
 *
 */

$background-success : #2187e7
$background-error   : #a63a06
$background-white   : #fff
$background-blue    : #2187e7

.clear
  display: block
  clear: both

*:focus
  outline: 0