@import "compass/reset"
@import "compass/css3"
@import "fonts"

$font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif

// Font Size

$font-small : 15px
$font-normal : 20px
$font-big : 28px

// Font Style

$font-light : 300
$font-regular : 400
$font-bold : 600

// Font Color

$font-lighten : #57534A
$font-darken : #423F37

//============================================================================================
//============================================================================================

//============================================================================================
// Link

$link-background : #FDC171
$link-color : #fff
$link-decoration : none
$link-hover-background : #FF5B4D

a
  text-decoration: none

//============================================================================================
//============================================================================================

//============================================================================================
// Paragraph

p
  margin-top: 20px
  line-height: 25px
  strong
    font-weight: $font-bold

//============================================================================================
//============================================================================================